/***********
* 页面样式
  **********
 */
/* ==========
   基本默认值
   ==========
 */
html{
    font-size: 62.5%;
    color:#222;
}
::selection{
    background: #b3d4fc;
    text-shadow: none;
}
ul{
    margin:0;
    padiing:0;
}
li{
    list-style:none;
}
/* ==========
   工具样式
   ==========
 */
.center-block{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.pull-right{
    float:right!important;;
}
.pull-left{
    float:left!important;;
}
.text-right{
    text-align:right!important;
}
.text-left{
    text-align:left!important;
}
.text-center{
    text-align:center!important;
}
.hide{
    display:none!important;
}
.show{
    display:block!important;
}
.invisible{
    visibility: hidden;
}
.text-hide{
    font:0/0 a;
    color:transparent;
    text-shadow:none;
    background-color: transparent;
    border:0;
}
.clearfix:after,
.clearfix:before{
    content:" ";
    display:table;
    clear:both;
}
/* ==========
   浏览器更新
   ==========
 */
.browserUpgrade{
    margin:0;
    padding:1rem;
    background-color: #ccc;
}
/* ==========
   自定义页面样式
   ==========
 */
body{
    font-size:1.2rem;
    line-height:1.5;
    background-color: #f7f7f7;
}
a{
    color:#666;
    text-decoration: none;
}
a:hover,a:active{
    color:#0ae;
    text-decoration: underline;
}
/* ==========
   header
   ==========
 */
header{
    width:100%;

}
header .top{
    line-height:3rem;
    padding:0 1.5rem;
    color:#fff;
    background: #555;
    border-bottom:1px #ecc000 solid;
}
header .top .tell{
    float:left;
}
header .top ul{
    text-align:right;
}
header .top ul li{
    display:inline-block;
}
header .top ul li+li{
    border-left:1px solid #999;
}
header .top ul li a{
    display: inline-block;
    color:#fff;
    padding:0 1.5rem;
}
@media only screen and (max-width:50em ){
    header .top{
        background: green;
    }
}
@media only screen and (min-width:30.0625em) and (max-width:50em ){
    header .top ul li a{
        color:red;
    }
}
@media only screen and (max-width:30em ){
    header .top ul li a{
        color:black;
    }
}
header .main{
    padding:0;
}
header .main .brand{
    float: left;
    padding:1rem 0rem;
}
header .main ul{
    text-align:right;
}
header .main ul li{
    display:inline-block;
    border-left:1px solid #f0ede9;
}
header .main ul li a{
    display:inline-block;
    padding:0 3rem;
    line-height:5.5rem;
    font-size:1.6rem;
    font-width:bold;
    color:#7c7a65;
    text-decoration: none;
}
header .main ul li a:hover,
header .main ul li a:active{
    color:#ffb300;
    background: #f8f6f1;
}
/* ==========
   container
   ==========
 */
/* ==========
   transaction
   ==========
 */
.transaction{
    width:100%;
    background:#7c7365;
}
.trans-content{
    width:90%;
    margin:0 auto;
    font-size:1.5rem;
}
.trans-data{
    float:left;
    padding:1rem;
    color:#fff;
}
.trans-data span.trans-money{
    font-size:2.2rem;
    color:#ff9900;
    letter-spacing:3px;
    margin:0 1rem;
    padding:0 1rem;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    background-color: rgba(255,255,255,0.9);
    box-shadow:1px 2px 2px inset;
}
.trans-report{
    text-align:right;
}
.trans-report a{
    display:inline-block;
    padding:1rem;
    line-height:3rem;
    color:#fff;
}
/* ==========
   ad
   ==========
 */
.ad{
    display:none;
}
/* ==========
   feature
   ==========
 */
.feature{
    width:90%;
    margin:2rem auto;
    font-size:0;
}
.feature .item{
    display:inline-block;
    width:calc(33.333333333% - 3rem);
    padding:1rem;
    font-size:1.4rem;
    background: #fff;
    bos-shadow:0 0 4px #ccc;
}
.feature .item+.item{
    margin-left:1.5rem;
}
.feature .item h3{
    display: inline-block;
    width:40%;
    margin:0;
    padding:0;
    vertical-align:top;
    font-size:3.3rem;
    text-align:center;
    color:#ff9900;
}
.feature .item p{
    display:inline-block;
    width:55%;
    margin:0px;
    padding:0px;
    color:#999;
}
/* ==========
   notice
   ==========
 */
.notice{
    width:90%;
    margin:2rem auto;
    font-size:1.4rem;
    line-height:3rem;
    background: #fff;
    -webkit-box-shadow: 0 0 4px #ccc;
    -moz-box-shadow:0 0 4px #ccc;
    box-shadow:0 0 4px #ccc;
}
.notice a{
    float:left;
    display:inline-block;
    width:70%;
    margin-left:2rem;
    text-decoration: none;
}
.notice a:first-child{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.notice a:first-child:before{
    content:"最新公告：\00a0\00a0";
    color:#aaa;
}
.notice a span{
    color:#999;
    font-size:1.2rem;
    margin-right:1rem;
}
.notice a.more{
    float:right;
    width:auto;
    margin-right:2rem;
    color: #ff9900;
}
/* ==========
   product
   ==========
 */
.product{
    width:90%;
    margin:2rem auto;
    font-size:1.4rem;
    background: #f5f9fa;
    border-top:2px solid #ff9900;
    -webkit-box-shadow:  0 0 4px #ccc;
    -moz-box-shadow:  0 0 4px #ccc;
    box-shadow:  0 0 4px #ccc;
}
.product h2{
    float:left;
    width:20%;
    margin-top: 3rem;
    text-align:center;
    font-size:2.4rem;
    font-weight:normal;
    color:#635c51;
}
.product h2 em{
    display: block;
    margin-text-outline:1rem;
    font-size:1.6rem;
}
.product h2 em:first-child{
    margin-top:4rem;
}
.product .product-content{
    float: right;
    width:79.5%;
    border-left:1px solid #eee;
    background: #fff;
}
.product .product-content .item{
    width:100%;
}
.product .product-content .item +.item{
    border-top:1px solid #eee;
}
.product .product-content .item h3{
    float:left;
    width:30%;
    margin:4.5rem 0;
    font-size:1.4rem;
    font-weight:normal;
    text-align: center;
}
.product .product-content .item h3 span{
    margin-right:0.5rem;
    font-size:3.6rem;
    font-style:normal;
    color:#8b999d;
}
.product .product-content .item .info i{
    display: block;
    font-size:1.2rem;
    font-style:normal;
    color:#999;
}
.product .product-content .item .info{
    float:left;
    width:48%;
    padding:1rem;
    border-left:1px  solid #eee;
    border-right:1px  solid #eee;
    font-size:1.4rem;
}
.product .product-content .item .info p{
    float:left;
    display:inline-block;
    text-align:center;
    width:56%;
}
.product .product-content .item .info p:last-child{
    width:40%;
}
.product .product-content .item .info p span{
    display: block;
    font-size: 2.4rem;
    color: #ff9900;
}
.product .product-content .item .info p span i{
    font-size: 1.2rem;
    font-style:normal;
    color:#999;
}
.product .product-content .item .buy{
    float:left;
    width:calc(22% - 6rem);
    padding:1rem;
}
.product .product-content .item .buy a{
    display: block;
    width:90%;
    margin:1.5rem auto;
    max-with:12rem;
    line-height:4rem;
    text-align:center;
    text-decoration: none;
    color:#fff;
    background: #ff9900;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.product .product-content .item .buy a:hover,
.product .product-content .item .buy a:active{
    background: #ffc468;
}
.product .product-content .item .buy a:disabled{
    background-color: #ccc!important;
    cursor: not-allowed;

}
/* ==========
   prefooter
   ==========
    */
.footer{
    width:100%;
    padding:3rem 0 5rem;
    background: #ededed;
}
.footer .footer-content{
    width:90%;
    margin:0 auto;
}
.footer .brand{
    display:block;
    width:20%;
    float:left;
    filter: grayscale(100%);
    height:35px;
    background: url("../img/logo@1x.png") no-repeat left;
    background-size:150px 35px;

}
.footer ul{
    text-align:center;
    width:10%;
    float:left;
}
.footer ul li{
    font-size:1.4rem;
    line-height:2.4rem;
}
.footer ul li .title{
    font-size:1.6rem;
    line-height:3rem;
}
/* ==========
   footer
   ==========
    */
footer{
    width:100%;
    padding:3rem 0 5rem 0;
    background-color: #ededed;
}
footer ul{
    text-align: center;
}
footer ul li{
    display: inline-block;
}
footer ul li .icon{
    display:inline-block;
    text-indent:-999rem;
    margin-right:1.5rem;
    background:url("https://i.alipayobjects.com/e/201307/jebmKcbrh.png") no-repeat;
    background-size:466px 447px;
    overflow: hidden;
}
footer ul li .icon-zfywxkz{
    width:38px;
    height:27px;
    background-position: -369px -45px;
}
footer ul li .icon-pcirk{
    width:78px;
    height:27px;
    background-position: -369px -45px;
}
footer ul li .icon-visayz{
    width:38px;
    height:27px;
    background-position: -426px -90px;
}
footer ul li .icon-vsjmfw{
    width:63px;
    height:27px;
    margin-right:13px;
    background-position: -401px -186px;
}
footer ul li .icon-wlgs{
    width:22px;
    height:27px;
    background-position: -48px -48px;
}
footer ul li .icon-rzcx{
    width:75px;
    height:27px;
    background-position: 0px -320px;
}
footer ul li .icon-gs{
    width:30px;
    height:30px;
    margin-right:0px;
    background:url("https://os.alipayobjects.com/rmsportal/lybcjqloSPjMAFg.png") no-repeat;
    background-size:30px;
}
footer p{
    text-align: center;
    color:#999;
}
